IOT_Game/IOT_Game/Connected Services/GameServiceReference/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IOT.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IOT.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TcNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DodID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfQuestionOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionOption" nillable="true" type="tns:QuestionOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionOption" nillable="true" type="tns:ArrayOfQuestionOption" />
  <xs:complexType name="QuestionOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="AnswerText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionOptionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionOption" nillable="true" type="tns:QuestionOption" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfDegreeOfDifficulty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DegreeOfDifficulty" nillable="true" type="tns:DegreeOfDifficulty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDegreeOfDifficulty" nillable="true" type="tns:ArrayOfDegreeOfDifficulty" />
  <xs:complexType name="DegreeOfDifficulty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DodID" type="xs:int" />
      <xs:element minOccurs="0" name="DodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DegreeOfDifficulty" nillable="true" type="tns:DegreeOfDifficulty" />
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element minOccurs="0" name="OptionID" type="xs:int" />
      <xs:element minOccurs="0" name="OptionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
</xs:schema>